.product-search-result {
  display: table-row;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.prod-cell {
  display: table-cell;
/*  border: 1px solid #33AA99;*/
}

.product-custom-description {
  font-size: small;
  color: #55AAFF;
}

.product-description {
  font-weight: bold;
  color: #4499EE;
}

.product-producer {
  color: #33AA99;
  cursor: pointer;
}

.product-producer:hover {
  color: #116644;
  font-weight: bold;
}

.product-category {
  background: #EFFFFF;
  font-weight: bolder;
  color: #590000;
  width: 100px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

.product-category:hover {
  background: #9FFFFF;
}

.product-main {
  width: 600px;
}

.product-main:hover {
  background: #EEFFEE;
}
