/* You can add global styles to this file, and also import other style files */
body, input {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
}
.table-row {
  display: table-row;
  background: #F0F0FF;
  color: #0F0F1F;
}

.table-cell {
  display: table-cell;
  border: 1px solid #0A0A0A;
  min-width: 100px;
  padding: 2px 2px 2px 2px;
}

.table-head {
  display: table-row;
}

.table-foot {
  display: table-caption;
  border: 1px solid black;
  border-bottom: none;
}

.table-head, .table-foot {
  font-weight: bolder;
  background: #2F7F9F;
  color: #F0F0F7;
}

.table {
  display: table;
  border-collapse: collapse;
}

.table-button {
  display: table-cell;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.table-button:hover {
  opacity: 0.5;
  background: #4FBFBF;
  border-radius: 50%;
}

.app-button {
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 150px;
  cursor: pointer;
  clear: both;
  text-align: center;
}

.app-button:hover {
  background: #2F7F9F;
  color: white;
}

.app-dialog {
  margin: auto auto;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: 100px;
  left: 100px;
  width: 350px;
  height: 240px;
  z-index: 100;
}

.dialog-button {
  width: 25px;
  height: 25px;
  cursor: pointer;
  right: 5px;
  top: 5px;
  display: inline;
  float: right;
}

.dialog-title {
  display: inline;
  float: left;
  font-weight: bold;
  margin-left: 10px;
}

.dialog-button:hover {
  background: #FAA8A8;
  color: white;
  font-weight: bolder;
}

.dialog-title-bar {
  background: #2F7F9F;
  color: white;
  height: 25px;
  clear: both;
  margin-bottom: 10px;
}

.app-label {
  margin-left: 20px;
  margin-right: auto;
  margin-bottom: 10px;
  float: left;
  clear: both;
}
