<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.wiltedclover.springapp.dao.ProductMapper'>

	<resultMap type="com.wiltedclover.springapp.model.Product" id="productMap">
		<id property="id" column="ID"/>
		<result property="customDescription" column="CUSTOM_DESCRIPTION"/>
		<result property="description" column="DESCRIPTION"/>
		<result property="category.id" column="CATEGORY_ID"/>
		<result property="category.name" column="CATEGORY_NAME"/>
	</resultMap>

	<insert id="addClientProduct">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			select nextval('seq_app_product')
		</selectKey>
		INSERT INTO app_client_product(id, client_id, description, product_id) VALUES (
			#{id}, #{producer.id}, #{description}, #{productId}
		)
	</insert>
	<delete id="removeProduct">
		DELETE FROM app_client_product WHERE ID=#{id}
	</delete>

	<select id="getAllProductsForProducer" resultMap="com.wiltedclover.springapp.dao.SearchService.productMap">
		<include refid="com.wiltedclover.springapp.dao.SearchService.getProductsFull"/>
		WHERE ac.id = #{producerId}
	</select>
</mapper>