<div class="table">
  <div class="table-head">
    <div class="table-cell">Description</div>
    <div class="table-cell"></div>
  </div>
  <div *ngFor="let product of products; let index = index" class="table-row">
    <!--<div class="table-cell">{{product.description}}</div>-->
    <app-product-search-result [product]="product" [isEditable]="true" [isEdited]="false"></app-product-search-result>
    <div class="table-button" (click)="removeProduct(product.id)" [style.min-width]="25">-</div>
  </div>
  <div class="table-foot">
    <div class="table-button" (click)="showAddProductDialog()">+</div>
  </div>
</div>

<div class="app-dialog" [style.display]="addDialogVisible">
  <div class="dialog-title-bar">
    <div class="dialog-title">Add a new product </div>
    <div class="dialog-button" (click)="hideAddProductDialog()">x</div>
  </div>
<!--
  <div class="app-label">Code prefix:
    <input [value]="newProduct.code" (input)="newProduct.code = $event.target.value;" size="12"/>
    <span class="product-code">{{newProduct.code ? newProduct.code : 'PREFIX'}}</span><span class="product-code-suffix">999999</span>
  </div>
-->
  <div class="app-label">Description: <input [value]="newProduct.description" (input)="newProduct.description = $event.target.value" size="40"/></div>
  <div class="app-button" (click)="doAddProduct()" [ngStyle]="{'margin-left': 'auto', 'margin-right': 'auto'}">Add</div>
</div>
